# IntelliJ-based IDEs (PyCharm, CLion, etc.)
.idea/
*.iml
*.iws
*.ipr

# CLion cmake-specific
cmake-build-*/
cmake-build-debug/
cmake-build-release/
CMakeFiles/
CMakeCache.txt
Makefile
compile_commands.json
conanbuildinfo.*
conan.lock

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtual environments
env/
venv/
ENV/
VENV/
.venv/